@model GarageDB.Models.Vehicle
@{
    ViewBag.Title = "Edit " + Model.ToString();
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(o => o.RegistrationNumber)
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.RegistrationNumber, new { @class = "k-textbox medium-field" })
            @Html.ValidationMessageFor(o => o.RegistrationNumber)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(o => o.Colour)
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Colour, new { @class = "k-textbox medium-field" })
            @Html.ValidationMessageFor(o => o.Colour)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(o => o.Make)
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(o => o.Make, new { @class = "k-textbox medium-field" })
            @Html.ValidationMessageFor(o => o.Make)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(o => o.Model)
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(o => o.Model, new { @class = "k-textbox medium-field" })
            @Html.ValidationMessageFor(o => o.Model)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(o => o.VIN)
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(o => o.VIN, new { @class = "k-textbox medium-field" })
            @Html.ValidationMessageFor(o => o.VIN)
        </div>
    </div>

    <div class="button-group">
        <input class="k-button" type="submit" value="Save" />
        <button id="cancel" class="lose-changes-button k-button" type="button" value="Cancel">Cancel</button>
    </div>

    <script id="lose-changes-confirmation" type="text/x-kendo-template">
        <p class="lose-changes-message">There are unsaved changes?</p>
        <button class="lose-changes-confirm k-button">Lose changes</button> &nbsp;
        <a href="#" class="lose-changes-cancel k-button">Cancel</a>
    </script>
}
<script>
    $("form :input").change(function () {
        $(this).closest('form').data('changed', true);
    });

    $('#cancel').click(function () {
        if ($(this).closest('form').data('changed')) {
            var kendoWindow = $("<div />").kendoWindow({
                title: "Confirm",
                resizable: false,
                modal: true
            });

            kendoWindow.data("kendoWindow")
                .content($("#lose-changes-confirmation").html())
                .center().open();

            kendoWindow
                .find(".lose-changes-confirm,.lose-changes-cancel")
                    .click(function () {
                        if ($(this).hasClass("lose-changes-confirm")) {
                            window.location.replace('/Vehicles/View/@Model.Id.ToString()');
                        }

                        kendoWindow.data("kendoWindow").close();
                    })
                    .end()
        }
        else {
            window.location.replace('/Vehicles/View/@Model.Id.ToString()');
        }
    });
</script>