@model GarageDB.Models.VehicleService
@{
    ViewBag.Title = "Major service";
}

<div>
    <ol class="breadcrumb">
        <li>@Html.ActionLink((string)ViewBag.Customer.Name, "View", "Customers", new { ViewBag.Customer.Id }, null)</li>
        <li>@Html.ActionLink((string)ViewBag.Vehicle.ToString(), "View", "Vehicles", new { ViewBag.Vehicle.Id }, null)</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<h3>@ViewBag.Title</h3>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Engine</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.DrainOilAndRefill)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.DrainOilAndRefill))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ReplaceOilFilter)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ReplaceOilFilter))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ExcessiveOilLeakCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ExcessiveOilLeakCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.TimingBeltCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.TimingBeltCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.RadiatorConditionCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.RadiatorConditionCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.CoolantCapSealCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.CoolantCapSealCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.CoolantHoseCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.CoolantHoseCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.CoolingFanCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.CoolingFanCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.FanAlternatorBeltCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.FanAlternatorBeltCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.AuxiliaryDriveBeltCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.AuxiliaryDriveBeltCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ReplaceAirFilter)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ReplaceAirFilter))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ReplaceCoolant)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ReplaceCoolant))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ReplaceSparkPlugs)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ReplaceSparkPlugs))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.UndertrayCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.UndertrayCheck))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.EngineComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Fuel</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.FuelCapSealCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.FuelCapSealCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.FuelLineVisualCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.FuelLineVisualCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ReplaceFuelFilter)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ReplaceFuelFilter))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.FuelComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Drive system</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ClutchOperationCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ClutchOperationCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.GearboxOperationCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.GearboxOperationCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ClutchFluidCheckTopup)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ClutchFluidCheckTopup))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.DriveShaftGaitorCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.DriveShaftGaitorCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.GreasePropShaft)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.GreasePropShaft))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.AxleTransaxleOilCheckTopup)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.AxleTransaxleOilCheckTopup))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.GearboxFluidTopup)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.GearboxFluidTopup))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.DriveSystemComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Electrical</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ExteriorLightOperationCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ExteriorLightOperationCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.HornCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.HornCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.DashboardWarningLightCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.DashboardWarningLightCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BatteryHeldSecurelyCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BatteryHeldSecurelyCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BatteryConditionCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BatteryConditionCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.TopUpNonSealedBattery)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.TopUpNonSealedBattery))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.VisuallyInspectHTLeads)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.VisuallyInspectHTLeads))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.StarterMotorEffectivenessTest)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.StarterMotorEffectivenessTest))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.AlternatorChargingRateTest)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.AlternatorChargingRateTest))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.ElectricalComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Steering and suspension</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.PowerSteeringReservoirTopUpCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.PowerSteeringReservoirTopUpCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.SteeringSuspensionComponentWearCorrosionCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.SteeringSuspensionComponentWearCorrosionCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.SteeringRackGaiterConditionCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.SteeringRackGaiterConditionCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.WheelBearingCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.WheelBearingCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.GreaseSteeringSuspensionComponents)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.GreaseSteeringSuspensionComponents))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.SteeringAndSuspensionComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Exhaust</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ExhaustSystemInspection)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ExhaustSystemInspection))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ExhaustSmokeVisualCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ExhaustSmokeVisualCheck))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.ExhaustComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Brakes</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BrakePadWearDamageCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BrakePadWearDamageCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BrakeCalliperCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BrakeCalliperCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BrakeShoesWearDamageCheckCleanAdjust)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BrakeShoesWearDamageCheckCleanAdjust))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.WheelCylinderInspectionReportLeaks)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.WheelCylinderInspectionReportLeaks))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BrakeHydraulicSystemPipeHoseLeakChafingCorrosionCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BrakeHydraulicSystemPipeHoseLeakChafingCorrosionCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.HandbrakeLinkageTravelCheckLubricateAdjust)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.HandbrakeLinkageTravelCheckLubricateAdjust))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BrakeDiscDrumWearCracksCorrosionScoringPittingCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BrakeDiscDrumWearCracksCorrosionScoringPittingCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BrakeFluidTopUpCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BrakeFluidTopUpCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BrakeServoCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BrakeServoCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.BrakeFluidBoilTest)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.BrakeFluidBoilTest))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ReplaceBrakeFluidBleed)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ReplaceBrakeFluidBleed))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.BrakeComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Tyre and wheels</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.RemoveRoadWheels)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.RemoveRoadWheels))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.TyreSizeFittedCorrectly)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.TyreSizeFittedCorrectly))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.TyreConditionThreadDepth)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.TyreConditionThreadDepth))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.TyrePressureAdjustCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.TyrePressureAdjustCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.SetWheelNutTorqueToManufacturer)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.SetWheelNutTorqueToManufacturer))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.WheelBalanceCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.WheelBalanceCheck))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.TyresAndWheelsComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Vision</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.WindscreenWiperConditionOperationCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.WindscreenWiperConditionOperationCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.RearWindscreenWiperConditionOperationCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.RearWindscreenWiperConditionOperationCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.WindscreenWasherOperationAlignJetsTopUpCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.WindscreenWasherOperationAlignJetsTopUpCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.WindscreenChipCrackCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.WindscreenChipCrackCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.MirrorConditionCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.MirrorConditionCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.NumberPlateConditionCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.NumberPlateConditionCheck))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.VisionComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Internal</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.CabinFilterCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.CabinFilterCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.SeatbeltCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.SeatbeltCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.DoorLockOperationCheck)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.DoorLockOperationCheck))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.LubricateDoorHinges)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.LubricateDoorHinges))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.InternalComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">General</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.ResetServiceLight)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.ResetServiceLight))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.RoadTest)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.RoadTest))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.LubricateBonnetCatch)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.LubricateBonnetCatch))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div>@Html.DisplayNameFor(o => o.StampServiceBook)</div>
                        </div>
                        <div class="col-md-2">
                            @Html.Raw(GarageDB.Helpers.PassFailHelper.GetPassFailGlyphHtml(Model.StampServiceBook))
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="grid-header">@Html.DisplayName("Notes")</div>
                    <div>
                        @Html.DisplayFor(o => o.GeneralComments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="button-group">
    <button class="k-button" type="button" value="Edit" onclick="location.href='@Url.Action("EditMajor", "Servicing", new { id = Model.Id })'">Edit</button>
    <button class="k-button" type="button" value="Back" onclick="location.href='@Url.Action("View", "Vehicles", new { id = Model.VehicleId })'">Back</button>
</div>